@use '../utils' as *;

#forget-password-page.forget-password-page {
  .forget-password__content {
    background-color: $ColorDark;
    padding: rem(16);
    width: rem(450);
    border-radius: rem(4);
    .title {
      a {
        svg {
          fill: none;
          stroke: $ColorLight;
          width: rem(26);
          height: rem(26);
        }
      }
      span {
        color: $ColorLight;
        font-size: $f-md;
      }
    }
  }
}
