@use '../utils' as *;

#profile-page.profile-page {
  .profile__content {
    .profile_image {
      width: rem(250);
      height: rem(250);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: rem(16);
      border: 1px solid $ColorLight;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .user-details {
      text-align: center;
      span {
        display: block;
      }
      .name {
        color: $ColorLight;
        font-size: $f-md;
      }
      .username {
        color: $ColorPrimary;
      }
      .email {
        color: $ColorGray;
      }

      .message {
        color: $ColorGray;
        background-color: $ColorDarkMedium;
        border-radius: rem(4);
        margin: 0 auto;
        margin-top: rem(12);
        width: rem(120);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(8);
        padding: rem(6);
        svg {
          fill: $ColorGray;
        }
        span {
          margin: 0;
        }
      }
      .add-frd {
        margin-top: rem(12);
        display: block;
        svg {
          fill: $ColorGreen;
        }
      }
    }
    .about {
      margin-bottom: rem(16);
      span {
        color: $ColorGray;
        font-size: $f-md;
        margin-bottom: rem(12);
        display: block;
      }
      p {
        color: $ColorGrayLight;
        font-size: $f-sm;
      }
    }
    .hosted_rooms {
      .title {
        margin-bottom: rem(16);
        span {
          color: $ColorLight;
        }
        small.count {
          color: $ColorGrayLight;
        }
      }
    }
  }
}
