$ColorPrimary: #ffff00;
$ColorDarkMedium: #0b0b0b;
$ColorDarkLight: #141414;
$ColorLight: #fff;
$ColorDark: #000;
$ColorGray: gray;
$ColorGrayLight: #939393;
$ColorBlue: #3232c0;
$ColorRed: red;
$ColorGreen: green;
